<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        body{
  margin:0;
  padding:0;
  background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
  font-family: 'Montserrat', sans-serif;
}
    </style>
</head>
<body>
    <center><h1 style="margin-top: 100px;">This Flask app is only dedicated for students of IIT BHILAI </h1>
    <h2>
        The app is all about storing task, links of your drive or notes 
    </h2>
    <h2>
        This app has also facility to authenticate user!!<br>
        This means that the all data of a perticular user is only visible to him when he authenticate him by sign-in into his acount
    </h2>
    <h3>This app has also some in-built neccessary link for new users</h3>
    <br>
    <h3>App also provide a public platform for add task in which can add task publicly</h3>
    <h3>In app you also ctreate a txt file for your notes with title </h3>
    <h3>At the end of the page user can find the contacts of developers </h3>
    <a href="./me"><h2>Go home</h2></a></center>
</body>
</html>
